$color:rgb(55, 111, 43);
$xxl:1920px;
$xl: 1440px;
$l:1280px;


$color_2:rgb(129, 52, 52);

$font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
%button{
    width: 225px;
    height: 225px;
    border-radius: 25%;
    border: none;
    background-color: rgb(135, 200, 200);
}
header{
    div{
        display: flex;
        flex-direction: row;
        align-items: stretch
    }
}
button{
    @extend %button;
}

body{
       background-color: darkorange;
}
h1 {

    color:$color;
}
h2 {
    color:$color_2
}